.formulario {
    position: absolute;
    top: 30px;
    left: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    max-width: 400px;
    width: 90%;
}

.titulo {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

#botonActualizar {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #8000D6;
    color: #fff;
    margin-top: 15px;
}

#botonActualizar:hover {
    background-color: #BE86E4;
    color: #333;
}

button:hover {
    transform: scale(1.1);
}

.carga {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #666;
}

.cerrar {
    background-color: #F23B38;
    margin: 0;
    left: 80%; 
    top: 50px;
    color: #fff;
    position: absolute;
}