* {
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

header {
    text-align: center;
    padding: 10px 20px;
    border-bottom: 2px solid #c5defa;
}

img {
    height: 50px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;    
    margin: 0;
    padding: 0;
}

.menu ul li a:hover {
    color: #007bff;
}

nav.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#acceso {
    display: flex;
    gap: 10px;
    align-items: center;
}

#acceso button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.iniciar {
    background-color: #007bff;
    color: white;
}

.registro {
    background-color: #c5defa;
    color: #007bff;
}

.cerrar {
    background-color: #F23B38;
    color: white;
}

.user-icon {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #FADA5F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
}

.user-icon:hover {
    transform: scale(1.05);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

footer p {
    color: grey;
    text-align: center;
    font-size: 0.8rem;
}