.grid_container, .permiso_denegado {
    margin-left: 300px; 
    padding: 20px; 
}

.header_content h1 {
    font-size: 2.5rem; 
    margin-bottom: 20px;
}

.boton_recargar {
    background-color: #FADA5F;
    margin-bottom: 20px;
    padding: 10px 15px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, margin-left 0.3s;
}

.boton_recargar:hover {
    transform: scale(1.05); 
    margin-left: 0; 
    background-color: #FFE88E;
}

.playlist_contenedor {
    margin-bottom: 30px; 
    border-radius: 12px; 
    overflow: hidden; 
    height: 650px; 
}

.playlist_contenedor iframe {
    width: 90%;
    left: 0;
    height: 100;
    border: none;
}

@media (max-width: 768px) {
    .grid_container, .permiso_denegado {
        margin-left: 0; 
        padding: 10px; 
        min-height: 100vh;
        box-sizing: border-box;
    }

    .header_content h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .grid_container {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .playlist_contenedor {
        flex-grow: 1; 
        width: 100%;
        max-width: 500px;
        margin-bottom: 0; 
    }
    
    .playlist_contenedor iframe {
        width: 100%; 
        height: 100%;
    }

    .boton_recargar {
        margin-left: 0; 
        width: 80%; 
        max-width: 300px;
    }
}