.input_container select {
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 5px; 
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid grey; 
    cursor: pointer;
    color: black; 
}

.input_container label {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 12px;
    color: #666;
    pointer-events: none;
    transition: 0.3s ease all;
}