.administrador {
    margin-left: 300px;
    display: grid;
    grid-template-columns: 500px 1fr; 
}

.input_container select {
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 5px; 
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid grey; 
    cursor: pointer;
    color: black; 
}

.input_container label {
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 12px;
    color: #666;
    pointer-events: none;
    transition: 0.3s ease all;
}

.mostrar_usuarios {
    margin-top: 25px;
}

.tabla_card {
    flex-grow: 1;
    top: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.tabla_scroll_container {
    overflow-y: auto;
    max-height: 50vh;
    margin-top: 16px;
    margin-right: -30px;
}

table {
    top: initial;
    margin-left: 0;
    background-color: #fff;
    width: 100%; 
    border-collapse: collapse;
}

thead {
    background-color: #FADA5F;
    color: #213547;
}

thead th {
    padding: 10px 15px;
    border-bottom: 2px solid #213547;
    text-align: left;
    font-weight: bold;
    top: 0;
    z-index: 10;
}

tbody td {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
    font-size: 14px;
}

tbody tr:hover {
    background-color: #ccc;
}
